# Storefront API
PUBLIC_STORE_DOMAIN=mls-uae-test-store.myshopify.com
PUBLIC_STOREFRONT_API_TOKEN=73936922b12f6960d20479931fc05c1c
PUBLIC_STOREFRONT_API_VERSION=2025-07
PUBLIC_STOREFRONT_ID=212616

# Customer Account API
PUBLIC_CUSTOMER_ACCOUNT_CLIENT_ID=06daa3bf-add3-4f50-b81c-9e2d1314b5e1
PUBLIC_CUSTOMER_ACCOUNT_API_URL=https://shopify.com/59406614597

# Session
SESSION_SECRET=replace-with-output-of-openssl-rand-base64-32

# Checkout
PUBLIC_CHECKOUT_DOMAIN=mls-uae-test-store.myshopify.com
